/* the following code is stolen from maia and probably written by charlotte */

.eve-s-webring-container {
  all: unset;
  flex-direction: column;
  padding: 1em;
  font-size: 1.125rem;
  display: flex;
}

.eve-s-webring-description {
  margin-bottom: 0.5em;
}

.eve-s-webring-site-links {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}
.eve-s-webring-prev-site a:before {
  content: "←";
}
.eve-s-webring-prev-site
  a:not(:lang(ae)):not(:lang(ar)):not(:lang(arc)):not(:lang(bcc)):not(
    :lang(bqi)
  ):not(:lang(ckb)):not(:lang(dv)):not(:lang(fa)):not(:lang(glk)):not(
    :lang(he)
  ):not(:lang(ku)):not(:lang(mzn)):not(:lang(nqo)):not(:lang(pnb)):not(
    :lang(ps)
  ):not(:lang(sd)):not(:lang(ug)):not(:lang(ur)):not(:lang(yi)):before {
  margin-right: 1ch;
}
.eve-s-webring-prev-site
  a:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ):before {
  margin-left: 1ch;
}
.eve-s-webring-prev-site
  a:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ):before {
  margin-left: 1ch;
}
.eve-s-webring-next-site a:after {
  content: "→";
}
.eve-s-webring-next-site
  a:not(:lang(ae)):not(:lang(ar)):not(:lang(arc)):not(:lang(bcc)):not(
    :lang(bqi)
  ):not(:lang(ckb)):not(:lang(dv)):not(:lang(fa)):not(:lang(glk)):not(
    :lang(he)
  ):not(:lang(ku)):not(:lang(mzn)):not(:lang(nqo)):not(:lang(pnb)):not(
    :lang(ps)
  ):not(:lang(sd)):not(:lang(ug)):not(:lang(ur)):not(:lang(yi)):after {
  margin-left: 1ch;
}
.eve-s-webring-next-site
  a:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ):after {
  margin-right: 1ch;
}
.eve-s-webring-next-site
  a:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ):after {
  margin-right: 1ch;
}
