* {
  animation-fill-mode: both !important;
}

body {
  margin: 0;
  padding: 0;
  background: url(../images/background-tile-tau.png), #1d1025;
  color: #bb64ee;
  text-shadow: 0 0 4px #bb64ee;
  font-family: "JetBrains Mono", "Cascadia Code", monospace;
  min-height: 100vh;
  animation: scroll-bg 15s linear infinite;
}

@keyframes scroll-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100% -100%;
  }
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #bb64ee;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.flex .box {
  flex-grow: 1;
}

.caption {
  display: block;
}

.caption::after {
  content: " :3c";
  opacity: 0.5;
}

.box {
  box-shadow: 0 0 8px #bb64ee;
  background: #0d071180;
  backdrop-filter: blur(8px);
  border-radius: 1em;
  padding: 8px;
  margin: 16px;
  transition: backdrop-filter 0.25s, box-shadow 0.25s;
}

.box:hover {
  opacity: 1;
  box-shadow: 0 0 16px #bb64ee;
  backdrop-filter: blur(16px);
  background: #1f1129a1;
}

.centred {
  text-align: center;
}

.pop-in {
  animation: pop-in 0.5s;
}

@keyframes pop-in {
  0% {
    transform: scale(0%);
  }

  100% {
    transform: scale(100%);
  }
}

.slide-in-up {
  animation: slide-in-up 0.5s;
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

ul li {
  animation: slide-in-left 0.5s;
}

.slide-in-left {
  animation: slide-in-left 0.5s;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(2em);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
