---
title: collective info :3
description: here you can find info about my system :3
active: collective
---
{% extends 'layouts/main.njk' %}
{% block head %}
<style>
  h2 {
    font-size: 1.2em;
  }
</style>
{% endblock %}
{% block page %}
<h1>the misfits</h1>
<p>
  we are a plural system! you can find info about what that is if you
  don't know <a href="https://morethanone.info">here</a>, and here is
  a list of our system members:
</p>
<ul>
  <li>
    <!-- pluralily x3 (thanks @silly@whenthesilly.github.io you are cute and funny) -->
    <h2 id="lily"><a href="/">lily</a></h2>
    <p>
      hi! i'm the host, i've been around for the longest!
      my site was originally made before i realised i was
      plural, so the <a href="/">main page</a> is all
      mine! this might change in a future update though,
      since i love to rewrite my site very often :3
    </p>
  </li>
  <li>
    <h2 id="penny"><a href="/collective/penelope">Penelope</a></h2>
  </li>
  <li>
    <h2 id="tilly"><a href="/collective/matilda">matilda</a></h2>
  </li>
</ul>
<p>the other two will write about themselves and make pages later :3</p>
{% endblock %}