{% extends 'layouts/common.njk' %}
{% block page %}
<div class="col left">
  <h1 class="main_header"><a href="/">lily :3</a></h1>
  <ul>
    <li>
      <a href="https://wiki.tauon.dev">wiki</a>
    </li>
    <li>
      <a href="/dni_list"{% if active == "dni_list" %} class="active"{% endif %}>dni list</a>
    </li>
    <li>
      <a href="/gd"{% if active == "gd" %} class="active"{% endif %}>gd</a>
    </li>
    <li>
      <a href="/privacy"{% if active == "privacy" %} class="active"{% endif %}>privacy</a>
    </li>
  </ul>
</div>
<div class="col right">
  <div class="right_content">
    {% block main %}{% endblock %}
  </div>
</div>
{% endblock %}