<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ "" if env.environment.isProd else "devel: " }}{{ title if title else site.title }}</title>
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0"
    />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
    <meta name="theme-color" content="{{ site.theme_colour }}" />
    <meta
      name="description"
      content="{{ description }}"
    />
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta property="og:title" content="{{ title if title else site.title }}" />
    <meta
      property="og:description"
      content="{{ description }}"
    />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta name="twitter:site" content="{{ site.twitter }}" />
    <meta name="twitter:creator" content="{{ site.twitter }}" />
    <meta name="robots" content="noai, noimageai" />
    <meta name="color-scheme" content="dark light" />
    <meta name="darkreader-lock" />
    <link rel="icon" href="/images/icon.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/radi8's webring.css" />
    {% block head %}{% endblock %}
  </head>
  <body{% if not env.environment.isProd %} class="__devel__"{% endif %}>
    <div class="content">
      <div class="main">
        <div class="top_container">
          <div class="col left">
            {% if active == "main" %}
              <img
                src="/images/hi.png"
                alt="a drawing of my fursona, tauon. she is green, with white tummy fur, has a big fluffy tail, big ears, and a black visor with a blue lit up face. a speech bubble is above her that says 'hi~!'"
                width="250"
              />
            {% else %}
            <h1 class="main_header"><a href="/">lily :3</a></h1>
            {% endif %}
            <ul>
              <li>
                <a href="https://wiki.tauon.dev">wiki</a>
              </li>
              <li>
                <a href="/dni_list"{% if active == "dni_list" %} class="active"{% endif %}>dni list</a>
              </li>
              <li>
                <a href="/gd"{% if active == "gd" %} class="active"{% endif %}>gd</a>
              </li>
              <li>
                <a href="/privacy"{% if active == "privacy" %} class="active"{% endif %}>privacy</a>
              </li>
            </ul>
          </div>
          <div class="col right">
            <div class="right_content">
              {% block page %}{% endblock %}
            </div>
          </div>
        </div>
        <blockquote class="buttons warning">
          the 88x31s have been hidden because you have reduced motion turned on,
          and there are many fast flashing gifs. there is no way to unhide them
          at this time, but i will try to add that in future.
        </blockquote>
        <center>
          <p>interactive:</p>
          <iframe
            src="https://incr.easrng.net/badge?key=tauon.dev&bg=//tauon.dev/images/incr.png"
            style="background: url(/images/incr.png)"
            title="increment badge"
            width="88"
            height="31"
            frameborder="0"
          ></iframe>
          {% for section in 88x31s %}
          <p>{{ section.name }}:</p>
          {% for entry in section.entries %}
          {% if entry.href %}<a href="{{ entry.href }}" target="_blank"
            >{% endif %}<img
              src="/images/88x31/{% if entry.src.startsWith('http') %}3rdparty/{{ entry.src.replaceAll('/', '_').replaceAll(':', '_') }}{% else %}{{ entry.src }}{% endif %}"
              {% if entry.alt %}alt="{{ entry.alt }}"{% endif %}
              width="88"
              height="31"
              style="image-rendering: pixelated"
              {% if entry.title %}title="{{ entry.title }}"{% endif %}
            />
          {% if entry.href %}</a>{% endif %}
          {% endfor %}
          {% endfor %}
        </center>
        <noscript>
          <blockquote class="warning">
            you don't have javascript enabled. the webrings have been replaced
            with potentially outdated versions. note that some users of them may
            not be so based as to add a non-javascript version, so it may be
            true that you can't navigate to any other websites past the ones
            linked here. you may view the list of sites, but this is usually raw
            code intended for the script, not for humans to read.
          </blockquote>
          <p>all sites on:</p>
          <ul>
            <li>
              <a href="https://cdn.radi8.dev/ring.json">radi8's webring</a>
            </li>
          </ul>
        </noscript>
        <center>
          <script
            src="https://cdn.radi8.dev/ring.js"
            data-site-id="tauon"
          ></script>
          <noscript>
            <aside class="radi8-webring-container">
              <section class="radi8-webring-description">
                This site is part of <a href="https://radi8.dev">radi8</a>'s
                webring!
              </section>
              <ul class="radi8-webring-site-links">
                <li class="radi8-webring-prev-site">
                  <a href="https://radi8.dev/">radi8</a>
                </li>
                <li class="radi8-webring-curr-site">
                  <a href="https://tauon.dev">lily</a>
                </li>
                <li class="radi8-webring-next-site">
                  <a href="https://illogicalapple.com">illogicalapple</a>
                </li>
              </ul>
            </aside>
          </noscript>
          <p>please invite me to more webrings please please please</p>
        </center>
        <style class="edit_css" contenteditable="true">
          .edit_css {
            font-family: monospace;
          }
        </style>
      </div>
    </div>
    <br/>
    <center><small>compiled at {{ buildinfo.buildDate }} - git commit hash {{ buildinfo.hash }} - {{ buildinfo.message }} (at {{ buildinfo.commitDate }})</small></center>
    <br/>
    <div class="browser_warning"><img src="/images/nochrome.png" height="48" /><span>it seems that your browser is based on <strong>chromium technologies!</strong> you should install a free browser such as <a href="https://www.mozilla.org/en-US/firefox/new/">firefox</a> to stop google taking over the web! (they have <a href="https://en.m.wikipedia.org/wiki/Web_Environment_Integrity">tried already</a>...)</span></div>
    <script src="/js/nochrome.js"></script>
    <script src="/js/abbr.js"></script>
    {% if active != "1984" %}<script src="/js/adblockblockblock.js"></script>{% endif %}
    <script src="/js/easteregg.js"></script>
  </body>
</html>
