---
title: 403 Forbidden
description: hehe, you aren't allowed to access that resource >:3
permalink: /403.html
---
{% extends 'layouts/error.njk' %}
{% block error %}
<p> {{ description }}</p>
{% endblock %}