---
title: 404 Not Found
description: oh no, we couldn't find that file or directory on the server >w<
date: git Last Modified
permalink: /404.html
---
{% extends 'layouts/error.njk' %}
{% block error %}
<p> {{ description }}</p>
{% endblock %}