---
title: 500 Internal Server Error
description: oopsie i messed something up qwq
date: git Last Modified
permalink: /500.html
---
{% extends 'layouts/error.njk' %}
{% block error %}
<p> {{ description }}</p>
{% endblock %}