---
title: lily's dni list
description: these are the criteria that if you meet you shouldn't interact with me or i'll block you :3
active: dni_list
date: git Last Modified
---
{% extends 'layouts/main.njk' %}
{% block main %}
<h1>dni list</h1>
<blockquote class="warning">
  a few of these terms are nsfw. this is usually something to do with the reason
  that they're listed here, but keep this in mind if you do not want to/are
  unable to view nsfw content.
</blockquote>
<p>dni if you are any of the following:</p>
<small>
  if you want to know more about a term, hover over/click on it!
  (clicking needs javascript though)
</small>
<ul>
  <li>
    <abbr
      title="a lolicon or shotacon are sexually attracted to anime depictions of little girls and little boys respectively. this is harmful because many of them (who do not fall under the 'attracted to petite feminine anime girls but NOT minors' definition), often use sexualising language about minors (think 'cunny' - a word used to refer to the female genitals of a little girl), then argue that sexualising minors is totally fine if they are fictional."
      >lolishota</abbr
    >
  </li>
  <li>
    pedophile/"<abbr
      title="'map' stands for minor attracted person, and it tries to normalise paedophilia."
      >map</abbr
    >"
  </li>
  <li>
    <abbr
      title="a zoophile is someone who is sexually attracted to, and sexualises, animals, often pets."
      >zoophile</abbr
    >
  </li>
  <li>
    <abbr
      title="a queer exclusionist is someone who excludes certain sexualities and identities, such as mspec lesbians or non binary people, for 'not being real' or 'being contradictory' - the same argument queerphobes use against traditional sexualities and identities such as homosexual or binary transgender people."
      >queer exclusionist</abbr
    >
  </li>
  <li>(trans)misogynist</li>
  <li>
    <abbr
      title="a transmedicalist is someone who believes that in order to be valid, a transgender person must medically transition in many, or every possible, way, including hormone replacement therapy, bottom surgery, and facial feminisation surgery. additionally, it is extremely likely that they believe that non-binary people do not exist, or if they do, only that completely gender neutral androgynous non binary people exist, and that people like, for example, transfemme nonbinary people are either (a) not real (b) just transfemme or (c) just a man."
      >transmed</abbr
    >/<abbr
      title="a system medicalist is someone who believes that a plural system, for example someone with did (disassociative identity disorder), may only have their condition originating from traumatic circumstances (known as a traumagenic system), as opposed to from other circumstances (an endogenic system). they also believe that in order to be a 'real' system, one must have their condition diagnosed, and that self diagnosis is completely invalid."
      >sysmed</abbr
    >
  </li>
  <li>
    if you believe "<abbr
      title="'agp' means autogynephile (does not refer to accelerated graphics port in this context unfortunately >w<), which is a theory invented by pseudoscientist ray blanchard. it says that trans women may only fall into two categories, 'autogynephile' (a 'heterosexual man' (really a lesbian trans woman) who gets turned on by being a woman), and 'homosexual transsexual' (hsts, also does not mean http strict transport security in this context), which is literally just a trans woman who loves her boyfriend (yeah, a heterosexual trans woman. this guy wasn't very smart (why did i say 'wasn't'? he's still alive and stupider than ever))"
      >agp</abbr
    >" is real or you need to do something to be valid
  </li>
  <li>
    if you have a
    <abbr
      title="a red name (also known as the derogatory word redname) is someone who is marked as transphobic on either of the two browser extensions."
      >red name</abbr
    >
    on
    <abbr
      title="shinigami eyes and soupcan are two browser extensions that improve the experience of using social media sites. shinigami eyes works on many different social media sites including twitter and reddit, and can even mark wikipedia articles as transphobic, to indicate that that person or organisation is transphobic. soupcan on the other hand, only works on the elon site, but has many other features such as hiding media from transphobic accounts, blurring their tweets, a colourblind accessible mode, and more."
      >shinigami eyes or soupcan</abbr
    >
    (note: since these programs can have false positives, this one
    is not a strict rule)
  </li>
  <li>
    if you're part of geometry dash twitter unless you're normal
  </li>
  <li>
    if you're in nba youngboy twitter or have "transtwt dni"
    somewhere on your profile (there is a very high chance you're
    a horrible person)
  </li>
  <li>
    if you fetishise trans people or objectify them (for example,
    using
    <abbr
      title="using language like this is harmful because it dehumanises trans people. rather than saying 'transgenders' or 'a transgender', you should say 'transgender people' or 'a transgender person'. the reason you should say this is because transgender is an adjective, not a noun."
      >language like "transgenders" or "a transgender"</abbr
    >)
  </li>
  <li>
    <abbr
      title="a proshipper is someone who defends problematic ships in fiction, even though those relationships would be immoral in real life, such as incestuous relationships or paedophilic relationships."
      >proshippers</abbr
    >
    (unless you are a Pro Shipper like you are Pro Ship like Ship
    Boat. ! : D
  </li>
  <li>
    if you say that really weird shit about indigenous/native
    people where you're like "dude they're going to murder us (in
    real life and totally not in my weird larp) and this is
    totally fine somehow and this is also like palestine because
    weird terrorist group equals whole country"
  </li>
  <li>
    if you think it's okay to misgender people if they've done bad
    stuff
  </li>
</ul>
<p>
  if you don't know what some of these are then it's fine to ask
  me! if i directed you here, though, you probably meet at least
  one of these
</p>
<p>
  you are also allowed to ask questions/ask to be exempt/ask for a
  rule to be removed
</p>
<p>
  i may also block you if you don't approach me nicely, too.
  please do that!
</p>
{% endblock %}