---
title: luci what happened
description: she rewrote the site tauri
---
{% extends 'layouts/main.njk' %}
{% block head %}
<meta property="og:image" content="{{site.url}}/images/luciwhathappened.jpeg" />
{% endblock %}
{% block page %}
<img src="/images/luciwhathappened.jpeg" alt="a low quality jpeg shitpost that has a picture of my fursona tauon crying with the caption 'luci what happened' and a picture of my server saying 'she rewrote the site tauri'" />
{% endblock %}